<div class="container-fluid" style="padding: 100 300 100 300; text-align:center;">
  <div class="row">
            <div class="col">
                <div class="profile-img">
                    <img src="img/yo.png" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col">
                <div class="name-wrapper">
                    <h1 class="name">CESAR ANTONIO MEZA PEREZ</h1>
                </div>
                <p>
                  <h5>INGENIERO EN SISTEMAS COMPUTACIONALES<h5>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="personal-details">
                            <p>26 años</p>
                            <p>Residencial San Nicolas, San Nicolás de los Garza, Nuevo León</p>
                            <p>Correo: cesargroening@gmail.com</p>
                            <p>Celular: <b>6673521746</b></p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                  <div class="col">
                  <a style ="font-size:60px;" href="https://es.stackoverflow.com/users/17494/cesargroening"><i class="fab fa-stack-overflow" aria-hidden="true"></i></a>
                </div>
                <div class="col">
                  <a style ="font-size:60px;" href="https://www.linkedin.com/in/c%C3%A9sar-antonio-meza-p%C3%A9rez-085b63120/"<i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col">
                  <a style ="font-size:60px;" href="https://github.com/cesargroening"><i class="fab fa-github-square"></i></a>
                </div>

                </div>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <div class="lenguajes" style="text-align:center; padding: 0 300 0 300">
          <div class="row">
            <div class="col">
              <h1>Tecnologias</h1>
            </div>
          </div>
          <br>
          <div class="row" >
            <i style="font-size:40px;" class="col fab fa-js-square"></i>
            <i style="font-size:25px; font-weight:bold;" class="col">MsSql</i>
            <i style="font-size:50px;" class="col fab fa-node"></i>
            <i style="font-size:40px;" class="col fab fa-css3-alt"></i>
            <i style="font-size:40px;" class="col fab fa-html5"></i>
            <i style="font-size:25px; font-weight:bold;" class="col">.net</i>
          </div>
          <br>
          <div class="row">
            <i style="font-size:40px; font-weight:bold;" class="col fab fa-php"></i>
            <i style="font-size:25px; font-weight:bold;" class="col">ColdFusion</i>
            <i style="font-size:25px; font-weight:bold;" class="col">Typescript</i>
            <i style="font-size:25px; font-weight:bold;" class="col">C#</i>
            <i style="font-size:40px;" class="col fab fa-linux"></i>
          </div>
          <br>
          <div class="row">
            <i style="font-size:25px; font-weight:bold;" class="col">MacOS</i>
            <i style="font-size:25px; font-weight:bold;" class="col">ExtJS</i>
            <i style="font-size:25px; font-weight:bold;" class="col">Boostrap</i>
          </div>
          <br>
          <div class="row">

            <i style="font-size:25px; font-weight:bold;" class="col">Git</i>
            <i style="font-size:25px; font-weight:bold;" class="col">SVN</i>
            <i style="font-size:25px; font-weight:bold;" class="col">Sublime</i>


          </div>
        </div>
<br><br><br><br>
        <div class="row">
          <div class="col">
            <h1>Experiencia Laboral</h1>
          </div>
        </div>
        <br><br>
        <div class="experiecia" style="text-align:left;">
          <div class="row">
            <div class="col">
              <h4>SCOUTECH</h4>
              <p>Empresa dedicada al desarrollo
                de aplicaciones gubernamentales. Trabajé desarrollando en  C# con componentes
                DevExpress, también desarrollaba del lado de Base de datos con Microsoft SQL,
                Stored Procedures, funciones, tipos de datos definidos por el usuario etc.</p>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <br>
              <p>2015-2016</p>
            </div>
          </div>
          <br><br><br>
          <div class="row">
            <div class="col">
              <h4>DICEX LOGISTICS</h4>
              <p>Empresa dedicada a la importación y exportación, posee recintos fiscalizados
                en diferentes estados. Cuenta con un sistema propio y varios desarrollados para
                 terceros, estos sistemas sirven para la administración de la mercancía entrante
                  y saliente, cobro mediante tarifario, facturación y más, desarrollo nuevos módulos,
                   doy soporte a los usuarios. Utilizo MS SQL, ExtJs de Sencha y ColdFusion del lado
                    del servidor. También desarrollé una app para la “confrontación” de mercancías
                    al descargar de avión mediante scanners, esta  app utiliza nodeJs, ExtJs,
                    html, css, javascript, socket.io entre otros.</p>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <br>
              <p>Junio 2016- Hoy</p>
            </div>
          </div>


        </div>

        <hr>
        <div class="row">
          <div class="col">
            <h1>Educación</h1>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col">
            <h4>Instituo Tecnológico de Cd. Victoria</h4>
            <p>Ingeniería en Sistemas Computacionales</p>
          </div>
          <div class="col-md-6">
            <br>
            <p>Julio 2010 - Diciembre 2014</p>
          </div>
        </div>
</div>
